<main>

  <!-- nav bar  -->
  <nav>
    <ul id="side-nav">
      <a><li id="phone" class="inactive"><%= image_tag "telephone-48.png", class: "icon icon-phone" %><br/>Call Otto's</li></a>
      <div id="tooltip-number">
        <i id="close-tooltip" class="icon icon-cross"></i>
        <span>
          <% if is_open? %>
          We're open!
          <% else %>
          Closed
          <% end %>
        </span>

        <span>650.588.0309</span>
      </div>
      <a id="about" href="#about"><li id="about" class="inactive">About</li></a>
      <a id="services" href="#services"><li id="services" class="inactive">Services</li></a>
      <a id="reviews" href="#reviews"><li id="reviews" class="inactive">Reviews</li></a>
      <a id="contact" href="#contact"><li id="contact" class="inactive">Contact Us</li></a>
    </ul>
  </nav>


  <!-- splash page -->
  <section id="splash" class="parallax-window splash">
    <div class="parallax-content splash">
      <h1>Otto's Appliance Service, Inc.</h1>
      <h3>Serving prompt, reliable appliance repairs since 1957.</h3>
    </div>
    <div class="parallax-background splash"></div>
    <div id="side-nav-arrow">
      <span class="icon-point-down"></span>
    </div>
  </section>

  <!-- about page -->
  <section id="about" class="slide slide-reg">
    <div class="slide-content">
      <a name="about"><h2>Welcome</h2></a>
      <video id="MY_VIDEO_1" class="video-js vjs-default-skin" controls
      preload="auto" width="100%" height= "350px" poster="assets/nanu.png"
      data-setup="{}">
        <source src="http://cf.c.ooyala.com/J1bjI0cTpletnaKA7_rZR2iUsIWpTyEg/DOcJ-FxaFrRg4gtDEwOjEzYzowazumG4?_=daocht73nmi" type='video/mp4'>
        <source src="http://cf.c.ooyala.com/J1bjI0cTpletnaKA7_rZR2iUsIWpTyEg/DOcJ-FxaFrRg4gtDEwOjEzYzowazumG4?_=daocht73nmi" type='video/webm'>
        <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
      </video>
      <p>Otto's Appliance Service, Inc. is family owned & operated, servicing the Bay Area since 1957. We believe in quality service and do as much
        as we can to satisfy our customers. What sets us apart is our extensive experience and long-standing reputation.</p>
    </div>
  </section>

  <!--   -->
  <section id="brands" class="parallax-window short">
    <div class="parallax-content short">
      <a name="services"><h2>Brands we service</h2></a>

      <div class="brands-container">
        <%= image_tag  "Thermador.png", class: "brand-logo" %>
        <%= image_tag  "Bosch.png", class: "brand-logo" %>
        <%= image_tag  "Insinkerator.png", class: "brand-logo" %>
        <%= image_tag  "Kitchenaid.png", class: "brand-logo" %>
        <%= image_tag  "Maytag.png", class: "brand-logo" %>
        <%= image_tag  "GE_Appliances.png", class: "brand-logo" %>
        <%= image_tag  "Kenmore.png", class: "brand-logo" %>
        <%= image_tag  "Whirlpool.png", class: "brand-logo" %>
      </div>

    </div>
    <div class="parallax-background short"></div>
  </section>


  <section id="services" class="slide slide-reg">
    <div class="slide-content">
      <a name="services"><h2>Services</h2></a>


    </div>
  </section>
  <section id="reviews" class="slide slide-reg">
    <div class="slide-content">
      <a name="reviews"><h2>Reviews</h2></a>


    </div>
  </section>
  <section id="contact" class="slide slide-reg">
    <div class="slide-content">
      <a name="contact"><h2>Contact Us</h2></a>
      <div id="google-map"></div>

    </div>
  </section>
</main>
